/* class */
/* .heading-one {
  color: red;
} */

/* id */
/* #heading-two {
  color: crimson;
} */

/*  / aniq bir element / */
/* 
p {
  color: white;
  background-color: darkblue;
} */

/* p.paragraph {
  font-size: 34px;
  background-color: crimson;
  color: #fff;
} */

/* / taglarni guruxlash / */
/* h1,
h4,
p {
  color: red;
  background-color: black;
} */

/* / Colors / */
/* .colors {
  color: rgb(25, 163, 79);
  color: rgba(25, 163, 78, 0.9);
  color: #fff;
  background-color: #111;
} */

/* / Borders / */
h1 {
  border-width: 5px;
  border-color: crimson;
  border-style: ridge;
  border: 7px solid darkcyan;
  border-radius: 10px;
}

/* input {
  width: 100%;
  border-top: 4px solid crimson;
  border-bottom: 10px dotted green;
  border-left: 5px dashed blue;
  border-right: 7px double darkcyan;
} */

.rounded {
  width: 100px;
  height: 100px;
  background-color: rgb(14, 127, 180);
  border-radius: 50%;
}
